doctype html
html(lang="en")
head
    title First Homework
    meta(charset="utf-8")
    link(rel='stylesheet', href='../../node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='./custom.css')
body
    :markdown
        ## Homework No. 1
        
        Consumption of this entertaining and educational content is heartily recommended.

        ### Hindu Numerals
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/Ar7CNsJUm58" frameborder="0" allowfullscreen></iframe> 
    :markdown
        ### Base X positional notation
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/5sS7w-CMHkU" frameborder="0" allowfullscreen></iframe>
    :markdown
        ### How to read text in binary
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/wCQSIub_g7M" frameborder="0" allowfullscreen></iframe>
    :markdown
        ### Unicode Miracle
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/MijmeoH9LT4" frameborder="0" allowfullscreen></iframe>
    :markdown
        ### Public Key Crypto 
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/GSIDS_lvRv4" frameborder="0" allowfullscreen></iframe>
    :markdown
        ### Command Line 
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/bE9DyH43C2I" frameborder="0" allowfullscreen></iframe>
    :markdown
        ### Copy, Move, Delete 
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/0OJXXjD0qcg" frameborder="0" allowfullscreen></iframe>
    :markdown
        ### Permissions 
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/7411tBzgbXo" frameborder="0" allowfullscreen></iframe>
    :markdown
        ### ssh & scp 
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/rm6pewTcSro" frameborder="0" allowfullscreen></iframe>
    :markdown
        ### Vim 
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/KFxnHL5Th7c" frameborder="0" allowfullscreen></iframe>
